.navbar-brand {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#navbar {
  background-color: var(--primary-color);
}

#pages-links .nav-link {
  margin: 0;
  margin-right: 20px;
  font-size: 14px;
}

#pages-links a {
  position: relative;
  text-decoration: none;
}

#nav-icons i {
  font-size: 18px;
  margin: 0 !important;
  transition: 0.3s;
}

#nav-icons i:hover {
  color: var(--secondary-color);
}

.menu-button {
  color: white;
  font-size: 30px;
}
