:root{
  --primary-color: rgb(41, 121, 77);
  --secondary-color: grey;
}

.navbar-brand {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: "Playfair Display", sans-serif;
  font-size: 25px !important;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.753);
  backdrop-filter: blur(15px);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1030;
}

#pages-links .nav-link {
  margin: 0;
  margin-right: 10px;
  font-size: 14px;
  font-family: "Jost", sans-serif;
}

#pages-links a {
  position: relative;
  text-decoration: none;
}

#nav-icons i {
  font-size: 18px;
  margin: 0 !important;
  transition: 0.3s;
}

#nav-icons i:hover {
  color: var(--secondary-color);
}

.menu-button {
  font-size: 20px;
}

@media (max-width: 575.98px) {
  .navbar-brand { font-size: 20px !important; }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .navbar-brand { font-size: 22px !important; }
}

@media (min-width: 992px) {
    .navbar-brand { font-size: 25px !important; }
}

