.navbar-brand {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px !important;
}

#navbar {
  background-color: white;
}

#pages-links .nav-link {
  margin: 0;
  margin-right: 10px;
  font-size: 14px;
  font-family: "Jost", sans-serif;
}

#pages-links a {
  position: relative;
  text-decoration: none;
}

#nav-icons i {
  font-size: 18px;
  margin: 0 !important;
  transition: 0.3s;
}

#nav-icons i:hover {
  color: var(--secondary-color);
}

.menu-button {
  font-size: 20px;
}
